* {
    box-sizing: border-box;
}

html {
    user-select: none;
    font-size: 13px;
    font-weight: 800;
    font-style: normal;
    font-family: "Times New Roman", sans-serif;
    line-height: 1.35;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

button {
    background: white;
    border: 2px solid #ffc55b;
    border-radius: 10px;    
    outline: none;
    cursor: pointer;
    position: relative;
    font-size: 1rem;
    font-weight: 800;
    font-style: normal;
    font-family: "Times New Roman", sans-serif;
    line-height: 1.35;    
}
button:after {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: white;
    border-radius: 13px;
    z-index: -1;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.2);
}
button:hover {
    background: linear-gradient(to bottom, #ffd78e, #ffc55b);
    border-color: white;
}
button:hover:after {
    background: linear-gradient(to bottom, #ffd78e, #ffc55b);
    box-shadow: 0 0 5px 2px white, 0 0 15px #ffe9c1, 0 3px 5px -2px rgba(0, 0, 0, 0.2);
}

body, 
.catch_screen {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
body {    
    height: 100vh;
    width: 100vw;
    background: url(../img/Parkscene_Background.png) bottom / contain, url(../img/SkyDay.png) top / cover;
}
.catch_screen {
    position: fixed;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #d2ffde, #ceefff, #ded1ff);
    z-index: -1;
    opacity: .4;
}

.participants {
    height: 18%;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* border: 2px solid rgb(72, 255, 0); */
}

.participant {
    height: 90%;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.participant_active {
    height: 100%;
    border: 4px solid rgb(17, 131, 2);
    border-radius: 10px;
    cursor: default;
}
.participant_opponent {
    height: 100%;
    border: 4px solid rgb(199, 8, 8);
    border-radius: 10px;
    cursor: default;
}
.participant_waiting {
    cursor: default;
}
.participant_losers {
    cursor: default;
    background: center center / contain no-repeat;
}

.participant_img {
    height: 100%;
}

.battleground {
    display: flex;
    height: 55%;
    width: 100%;
}

.settingsOne {
    padding-left: 10px;
    height: 100%;
    width: 50%;
}
.settingsOne h3 {
    display: inline-block;
    margin-top: 15px;
}
.btnRepointParticipants  {
    display: inline;
    margin-right: 10px;
    padding: 2px 10px;
}
.btnAutoHero  {
    display: inline;
    margin-right: 10px;
    padding: 2px 10px;
}
.btnAutoHero_active  {
    background: linear-gradient(to bottom, #ffd78e, #ffc55b);
    border-color: white;
    cursor: default;
}
.btnAutoHero_active:after {
    background: linear-gradient(to bottom, #ffd78e, #ffc55b);
    box-shadow: 0 0 5px 2px white, 0 0 15px #ffe9c1, 0 3px 5px -2px rgba(0, 0, 0, 0.2);
}
.infoHero {
    margin-top: 10px;
    width: 100%;
    display: flex;
}
.characteristicHero {
    padding-left: 20px;
    width: 80%;
}

.settingsTwo {
    height: 100%;
    width: 50%;
    text-align: center;
}
.settingsTwo h2 {    
    margin: 10px 0;
}
.inputRadio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7px 0;
}
.inputRadio span {
    font-size: 1.4rem;
    margin-left: 10px;
}
.btnRadio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.btnRadio_active {
    background: linear-gradient(to bottom, #ffd78e, #ffc55b);
    border-color: white;
    cursor: default;
}
.btnRadio_active:after {
    background: linear-gradient(to bottom, #ffd78e, #ffc55b);
    box-shadow: 0 0 5px 2px white, 0 0 15px #ffe9c1, 0 3px 5px -2px rgba(0, 0, 0, 0.2);
}

.pokemon {
    width: 25%;
    height: 100%;
    background: url(../img/card.svg) center center / contain no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.pokemonLevel {
    color: #073fa7;
}
.pokemonImg {
    height: 45%;
}
.details {
    text-align: center;
}
.bar {
    width: 100%;
    height: 15px;
    border: 3px solid #00a3e2;
    border-radius: 10px;
    background: #073fa7;
}
.pokemonHealth {
    width: 50%;
    height: 100%;
}
.pokemonHealth.normal {
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, lime, #8bf500);
}
.pokemonHealth.low {
    background: linear-gradient(to right, #ffcc00, #f1f500);
}
.pokemonHealth.critical {
    background: linear-gradient(to right, #d20000, #f51700);
}

.control {
    width: 50%;
    height: 100%;
}
.controlLogo {
    height: 40%;
    text-align: center;
}
.controlBtn {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.btnHooks {
    height: 40px;
    width: 45%;
}
.btnHooks span {
    color: blue;
}
.controlBtn h2,
.controlBtn p {
    width: 100%;
    text-align: center;
}
.btnNewGame {
    width: 70%;
    height: 30%;
}
.btnContinue {
    width: 70%;
    height: 30%;
}


.battleInfo {
    height: 27%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* border: 2px solid rgb(255, 187, 0); */
}

.logo {
    height: 100%;
}
.btnStart {
    font-size: 2rem;
    padding: 5px 30px;
}

.logs {
    position: relative;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    margin: auto;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.logs:after {
    content: "";
    position: absolute;
    left: -7px;
    right: -7px;
    top: -7px;
    bottom: -7px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    z-index: -1;
}
.logs p:nth-child(1) {
    color: #7e0bea;
}
.logs p:nth-child(2) {
    color: #ce0202;
}

@media (orientation: portrait) {
    body {
        transform-origin: left top;
        transform: rotate(90deg) translateY(-100vw);
        height: 100vw;
        width: 100vh;
        background: url(../img/Parkscene_Background_Rotate.png) left / contain, url(../img/SkyDay_Rotate.png) right / cover;
    }
}

@media (min-width: 668px) {
    html {
        font-size: 15px;
    }
    .btnHooks {
        height: 50px;
    }
    .logs {
        font-size: 0.74rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 17px;
    }
    .logs {
        font-size: 0.78rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 23px;
    }
    .btnHooks {
        height: 80px;
    }
    .logs {
        font-size: 0.74rem;
    }
}
@media (min-width: 1200px) {
    html {
        font-size: 27px;
    }
}
@media (min-width: 1600px) {
    html {
        font-size: 36px;
    }
    .btnHooks {
        height: 115px;
    }
}
@media (min-width: 2000px) {
    html {
        font-size: 45px;
    }
    .btnHooks {
        height: 135px;
    }
}